%section.wall
  = form_for @wall do |form|
    .buttons
      = form.submit

    #wall
      - @wall.cards.each do |card|
        = div_for(card, 'data-wall-id' => @wall.id, 'data-card-id' => card.id, style: "top: #{card.y}px; left: #{card.x}px;") do
          .content{style: "background-color: #{card.bg_color}; width: #{card.w}px; height: #{card.h}px; z-index: #{card.z}"}
            .text<
              :preserve
                #{h(card.text)}
          .edit_card_form{id: dom_id(card, 'edit')}
            = render 'cards/form', wall: @wall, card: card, form: form

- content_for :javascript do
  :javascript
    $(function() {
      var cards = $("#wall").find('.card');
      var dragging = false;
      
      cards.find('.content').click(function() {
        if (dragging === false) {
          var card = $(this).closest('.card');
          var selected = card.hasClass('selected');
          cards.removeClass('selected');
          if (!selected) {
            card.addClass('selected');
            card.find('input:visible, textarea:visible').first().focus();
          }
        } else {
          dragging = false;
        }
      });

      $('#wall').find('input').change(function(){
        var card = $(this).closest('.card');
        console.log(card);
        card.addClass('changed');
      });

      cards.draggable({
        containment: "#wall",
        disabled: false,
        stack: '.card',
        start: function() { dragging = true; },
        stop: function(event, ui) {
          var pos = $(this).position();
          $(this).find('.x').val(pos.left);
          $(this).find('.y').val(pos.top);
          $(this).addClass('changed');
        }
      });

      cards.find('.text_input').bind('keydown keyup keypress', function(){
        var card = $(this).closest('.card');
        card.find('.content .text').html($(this).val());
        card.addClass('changed');
      });
      cards.find('.bg_color_input').bind('keydown keyup keypress', function(){
        $(this).closest('.card').find('.content').css('background-color', $(this).val());
      });

      $(document).bind('keydown.fb', function(e) {
        if (e.keyCode == 27) {
          $('.card').removeClass('selected');
        }
      });
    });
