%section.wall
  - form_for @wall do |form|
    .buttons
      = form.submit 'Save Card Positions', disabled: true

    #mode.view
      #wall
        - @wall.cards.each do |card|
          = div_for(card, 'data-wall-id' => @wall.id, 'data-card-id' => card.id, 'data-dom-id' => dom_id(card), style: "background-color: #{card.bg_color}; top: #{card.y}px; left: #{card.x}px; width: #{card.w}px; height: #{card.h}px; z-index: #{card.z}") do
            =h card.content
            = form.fields_for :cards, card do |fields|
              = fields.hidden_field :x, id: dom_id(card, 'x')
              = fields.hidden_field :y, id: dom_id(card, 'y')

- content_for :javascript do
  :javascript
    $(function() {
      function setModified() {
        $('#wall_submit').removeAttr('disabled');
      }

      $("#wall").find('.card').draggable({
        containment: "#wall",
        disabled: false,
        stop: function(event, ui) {
          var dom_id = $(this).attr('data-dom-id');
          var pos = $(this).position();
          $('#x_' + dom_id).val(pos.left);
          $('#y_' + dom_id).val(pos.top);
          setModified();
        }
      }).each(function(){
        $(this).fancybox({
          type: 'ajax',
          ajax: {
            url: '/walls/' + $(this).attr('data-wall-id') + '/cards/' + $(this).attr('data-card-id') + '/edit'
          },
          onComplete: function() {
            $('#fancybox-content').find('input:visible:first').focus();
          }
        });
      });
    });
