- form.fields_for :cards, card do |f|
  .field.hidden
    = f.text_field :x, class: 'x'
  .field.hidden
    = f.text_field :y, class: 'y'
  -#
    .field.w
      = f.label :w
      = f.text_field :w
    .field.h
      = f.label :h
      = f.text_field :h
  .field
    = f.label :content
    = f.text_area :content, style: "width: #{card.w}px; height: #{card.h}px", class: 'content_edit'
  .field.author
    = f.label :author
    = f.text_field :author
  .field.bg_color
    = f.label :bg_color, 'Background'
    = f.text_field :bg_color, class: 'bg_color_edit'
