= form.fields_for :cards, card do |f|
  .field.x
    = f.text_field :x, class: 'x_input'
  .field.y
    = f.text_field :y, class: 'y_input'
  .field.z
    = f.text_field :z, class: 'z_input'
  .field.w
    = f.text_field :w, class: 'w_input'
  .field.h
    = f.text_field :h, class: 'h_input'
  .field.text
    = f.label :text
    = f.text_area :text, style: "width: #{card.w}px; height: #{card.h}px", class: 'text_input'
  .field.author
    = f.label :author
    = f.text_field :author
  .field.bg_color
    = f.label :bg_color, 'Background'
    = f.text_field :bg_color, class: 'bg_color_input'
  .field.shadow
    = f.check_box :shadow, class: 'shadow_input'
    = f.label :shadow
