!!! 5
%html
  %head
    %title Card Wall
    = stylesheet_link_tag :application
    -#= include_stylesheets :screen, media: 'all'
    = csrf_meta_tag
  %body
    %header
      .title
        %h1= link_to 'Card Wall', root_url

    %article
      = yield

    %footer

    = javascript_include_tag :application
    -#= include_javascripts :screen
    = yield :javascript
