!!! 5
%html
  %head
    %title Card Wall
    = include_stylesheets :screen, :media => 'all'
    = csrf_meta_tag
  %body
    %article
      = yield
    = include_javascripts :screen
    = yield :javascript
